*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.item{
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
}

.div1{
  display: flex;
  justify-self: end;
}

.div2{
  display: flex;
  justify-self: center;
}

.div3{
  display: flex;
  justify-self: start;
}