*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div1{
    height: 300px;
    width: 200px;
    color: white;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div2{
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
}

.div3{
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
}